<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preise neu berechnen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<h1>Preisanpassung</h1>
<form id="myForm" th:action="@{/editPreis}" th:object="${preismodell}" th:method="post">
    <button type="submit" id="calculateButton">Erstellen</button>
    <h2>Vertragsdaten</h2>
    <div class="form-group">
        <label>Einnahmenvorberechnung: </label>
        <button type="button" id="calculateallPrice"><span id="preis"> --,-- € </span></button>
    </div>
    <div class="form-group">
        <label for="faktor">allgemeiner Faktor:</label>
        <input th:field="*{faktor}" step="0.01" type="number" id="faktor" min="0" max="10" required>
    </div>
    <div class="form-group">
        <label for="age">Altersfaktor:</label>
        <input th:field="*{age}" step="0.01" type="number" id="age" min="0" max="10" required>
    </div>
    <div class="form-group">
        <label for="speed">Höchstgeschwindigkeitsfaktor:</label>
        <input th:field="*{speed}" step="0.01" type="number" id="speed" min="0" max="10" required>
    </div>
</form>
<a href="/">
    <button>Zurück</button>
</a>
<script type="text/javascript" th:src="@{/js/editPreis.js}"></script>
</body>
</html>