<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vertrag</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style>
        input, label, #kmh, #preiscalc, #editContainer, #deleteContainer {
            display: none;
        }
    </style>
</head>
<body>
<h1><strong>Vertrag </strong><span th:text="${vsnr}"></span></h1>
<button type="button" onclick="toggleEdit()" id="edit">Bearbeiten</button>
<button onclick="toggleDelete()" id="delete">Löschen</button>
<div id="deleteContainer">
    <p>Möchten Sie diesen Vertrag wirklich löschen?</p>
    <div style="display: flex; gap: 10px;">
        <form action="/showDelete" method="post">
            <button type="submit">Bestätigen</button>
        </form>
        <button onclick="hideDelete()">Abbrechen</button>
    </div>
</div>
<form id="myForm" th:action="@{/showEdit}" th:object="${vertragdto}" th:method="post">
    <div id="editContainer">
        <p>Möchten Sie die Änderungen speichern?</p>
        <div style="display: flex; gap: 10px;">
            <button type="submit">Speichern</button>
            <button type="button" onclick="hideEdit()">Abbrechen</button>
        </div>
    </div>
    <div id="handledVertrag" class="vertrag-details">
        <details open>
            <summary><b>Vertragsdaten</b></summary>
            <div><span>Preis:</span><span th:text="${preis} + ' €'"></span>
                <div id="preiscalc">
                    <button type="button" id="calculatePrice"><span id="preis" th:text="${preis} + ' €'"></span>
                    </button>
                </div>
            </div>
            <div><span>Abrechnungszeitraum:</span><span
                    th:text="${abrechnungszeitraumMonatlich ? 'monatlich' : 'jährlich'}"></span>
                <div>
                    <input th:field="*{abrechnung}" type="radio" name="abrechnung" value="true" id="check1">
                    <label for="check1">monatlich</label>
                    <input th:field="*{abrechnung}" type="radio" name="abrechnung" value="false" id="check2">
                    <label for="check2">jährlich</label>
                </div>
            </div>
            <div><span>Versicherungsbeginn:</span><span id="startSpan" th:text="${start}"></span>
                <input th:field="*{start}" type="date" id="start" name="start" max="9998-12-31" required>
            </div>
            <div><span>Versicherungsablauf:</span><span id="endSpan" th:text="${end}"></span>
                <input th:field="*{end}" type="date" id="end" max="9999-12-31" required>
            </div>
            <div><span>Antragsdatum:</span><span id="createSpan" th:text="${create}"></span>
                <input th:field="*{create}" type="date" id="create" max="9998-12-31" required>
            </div>
        </details>
        <details open>
            <summary><b>Fahrzeugdaten:</b></summary>
            <div><span>Amtliches Kennzeichen:</span><span th:text="${kennzeichen}"></span>
                <input th:field="*{kennzeichen}" type="text" id="kennzeichen" required>
            </div>
            <div><span>Hersteller:</span><span th:text="${hersteller}"></span>
                <input th:field="*{hersteller}" type="text" id="hersteller" required>
            </div>
            <div><span>Typ:</span><span th:text="${typ}"></span>
                <input th:field="*{typ}" type="text" id="typ" required>
            </div>
            <div><span>Höchstgeschwindigkeit:</span><span th:text="${maxspeed}"></span>
                <input th:field="*{speed}" type="number" id="speed" min="45" max="250" required>
                <div id="kmh">km/h</div>
            </div>
            <div><span>Wagnisskennziffer:</span><span th:text="${wkz}"></span>
                <input th:field="*{wkz}" type="number" id="wkz" min="112" max="112" required>
            </div>
        </details>
        <details open>
            <summary><b>Partnerdaten:</b></summary>
            <div><span>Vorname:</span><span th:text="${vorname}"></span>
                <input th:field="*{vorname}" name="vorname" type="text" id="vorname" required>
            </div>
            <div><span>Nachname:</span><span th:text="${nachname}"></span>
                <input th:field="*{nachname}" type="text" id="nachname" required>
            </div>
            <div><span>Geschlecht:</span><span th:text="${geschlecht}"></span>
                <input th:field="*{gender}" type="radio" name="gender" value="M" id="check3">
                <label for="check3">M</label>
                <input th:field="*{gender}" type="radio" name="gender" value="W" id="check4">
                <label for="check4">W</label>
                <input th:field="*{gender}" type="radio" name="gender" value="D" id="check5">
                <label for="check5">D</label>
            </div>
            <div><span>Geburtsdatum:</span><span id="birthSpan" th:text="${birth}"></span>
                <input th:field="*{birth}" value="2006-01-01" type="date" id="birth" required>
            </div>
            <div><span>Straße:</span><span th:text="${strasse}"></span>
                <input th:field="*{strasse}" type="text" id="strasse" required>
            </div>
            <div><span>Hausnummer:</span><span th:text="${hausnummer}"></span>
                <input th:field="*{hausnummer}" type="text" id="hausnummer" required>
            </div>
            <div><span>PLZ:</span><span th:text="${plz}"></span>
                <input th:field="*{plz}" type="text" id="plz" required>
            </div>
            <div><span>Stadt:</span><span th:text="${stadt}"></span>
                <input th:field="*{stadt}" type="text" id="stadt" required>
            </div>
            <div><span>Bundesland:</span><span th:text="${bundesland}"></span>
                <input th:field="*{bundesland}" type="text" id="bundesland" required>
            </div>
            <div><span>Land:</span><span th:text="${land}"></span>
                <input th:field="*{land}" type="text" id="land" value="Deutschland" readonly>
            </div>
        </details>
    </div>
</form>
<p><b style="color: red;"><span th:text="${gueltig}"></span></b></p>
<a href="/">
    <button>Zurück</button>
</a>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/handleVertrag.js}"></script>
</body>
</html>