<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verträge</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Verträge</h1>
<div th:if="${#lists.isEmpty(vertrage)}">
    <p>Keine Verträge gefunden</p>
</div>
<div th:each="vertrag : ${vertrage}">
    <details class="vertrag-details">
        <summary><b>Vertrag <span th:text="${vertrag.vsnr}"></span></b></summary>
        <details open>
            <summary><b>Vertragsdaten</b></summary>
            <div>
                <div><span>Preis:</span><span th:text="${vertrag.formattedPreis} + ' €'"></span></div>
                <div><span>Abrechnungszeitraum:</span><span th:text="${vertrag.monatlich ? 'monatlich' : 'jährlich'}"></span></div>
                <div><span>Versicherungsbeginn:</span><span th:text="${vertrag.versicherungsbeginn}"></span></div>
                <div><span>Versicherungsablauf:</span><span th:text="${vertrag.versicherungsablauf}"></span></div>
                <div><span>Antragsdatum:</span><span th:text="${vertrag.antragsDatum}"></span></div>
            </div>
        </details>
        <details open>
            <summary><b>Fahrzeugdaten:</b></summary>
            <div>
                <div><span>Amtliches Kennzeichen:</span><span th:text="${vertrag.fahrzeug.amtlichesKennzeichen}"></span></div>
                <div><span>Hersteller:</span><span th:text="${vertrag.fahrzeug.hersteller}"></span></div>
                <div><span>Typ:</span><span th:text="${vertrag.fahrzeug.typ}"></span></div>
                <div><span>Höchstgeschwindigkeit:</span><span th:text="${vertrag.fahrzeug.hoechstgeschwindigkeit}"></span></div>
                <div><span>Wagnisskennziffer:</span><span th:text="${vertrag.fahrzeug.wagnisskennziffer}"></span></div>
            </div>
        </details>
        <details open>
            <summary><b>Partnerdaten:</b></summary>
            <div>
                <div><span>Vorname:</span><span th:text="${vertrag.partner.vorname}"></span></div>
                <div><span>Nachname:</span><span th:text="${vertrag.partner.nachname}"></span></div>
                <div><span>Geschlecht:</span><span th:text="${vertrag.partner.geschlecht}"></span></div>
                <div><span>Geburtsdatum:</span><span th:text="${vertrag.partner.geburtsdatum}"></span></div>
                <div><span>Straße:</span><span th:text="${vertrag.partner.strasse}"></span></div>
                <div><span>Hausnummer:</span><span th:text="${vertrag.partner.hausnummer}"></span></div>
                <div><span>PLZ:</span><span th:text="${vertrag.partner.plz}"></span></div>
                <div><span>Stadt:</span><span th:text="${vertrag.partner.stadt}"></span></div>
                <div><span>Bundesland:</span><span th:text="${vertrag.partner.bundesland}"></span></div>
                <div><span>Land:</span><span th:text="${vertrag.partner.land}"></span></div>
            </div>
        </details>
        <b style="color: red;" th:if="${vertrag.versicherungsablauf.isBefore(T(java.time.LocalDate).now())}">Vertrag abgelaufen</b>
    </details>
</div>
<p></p>
<form action="/home" method="get">
    <button>Zurück</button>
</form>
</body>
</html>